@charset "utf-8";

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.shadow-demo {
    background-color: #26a69a;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}
h1.page-title {
    font-weight: 500;
    font-size: 2.3em;
    text-align: center;
    color: #29b6f6;
}
.col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: tomato;
    color: white;
    padding: 0;
}
.collection .collection-item.avatar {
    padding-right: 30px;
}
.last-post {
    padding: 10px 0 15px;
}
.last-post .collection .collection-item.avatar>.date-post {
    position: absolute;
    width: 54px;
    height: 54px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    padding: 16px 0;
    vertical-align: middle;
    background: #ad1457;
    color: #fff;
    text-align: center;
}
.txt-center {
    text-align: center;
}
// .post-header h1.post-title {
//     color: #29b6f6;
//     font-size: 2.8em;
//     font-weight: 800;
// }
// .post-header time {
//     color: #cacaca;
//     font-size: 0.9em;
// }
p.rss-subscribe {
    margin: 0;
}
@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
  }
  $base-font-size:   16px !default;
  $base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

$spacing-unit:     30px !default;
/**
 * Page content
 */
 .page-content {
    padding: $spacing-unit 0;
    flex: 1 0 auto;
  }
  
  .page-heading {
    @include relative-font-size(2);
  }
  
  .post-list-heading {
    @include relative-font-size(1.75);
  }
  
  .post-list {
    margin-left: 0;
    list-style: none;
  
    > li {
      margin-bottom: $spacing-unit;
    }
  }
  
  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }
  
  .post-link {
    display: block;
    @include relative-font-size(1.5);
  }
  
  
  
  /**
   * Posts
   */
  .post-header {
    margin-bottom: $spacing-unit;
  }
  
  .post-title,
  .post-content h1 {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1;
  
    @media screen and (min-width: $on-large) {
      @include relative-font-size(2.625);
    }
  }
  
  .post-content {
    margin-bottom: $spacing-unit;
  
    h2 {
      @include relative-font-size(1.75);
  
      @media screen and (min-width: $on-large) {
        @include relative-font-size(2);
      }
    }
  
    h3 {
      @include relative-font-size(1.375);
  
      @media screen and (min-width: $on-large) {
        @include relative-font-size(1.625);
      }
    }
  
    h4 {
      @include relative-font-size(1.125);
  
      @media screen and (min-width: $on-large) {
        @include relative-font-size(1.25);
      }
    }
  }
  
  
  .social-media-list {
    display: table;
    margin: 0 auto;
    li {
      float: left;
      margin: 0 5px;
      &:first-of-type { margin-left: 0 }
      &:last-of-type { margin-right: 0 }
      a {
        display: block;
        padding: $spacing-unit / 4;
        border: 1px solid $grey-color-light
      }
      &:hover .svg-icon { fill: currentColor; }
    }
  }
