---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "main";
.post-list-heading { font-size: 28px; }

.post-list { margin-left: 0; list-style: none; }

.post-list > li { margin-bottom: 30px; }

.post-meta { font-size: 14px; color: #828282; }

.post-link { display: block; font-size: 24px; }

/** Posts */
.post-header { margin-bottom: 30px; }

.post-title, .post-content h1 { font-size: 42px; letter-spacing: -1px; line-height: 1; }

@media screen and (min-width: 800px) { .post-title, .post-content h1 { font-size: 42px; } }

.post-content { margin-bottom: 30px; }

.post-content h2 { font-size: 28px; }

@media screen and (min-width: 800px) { .post-content h2 { font-size: 32px; } }

.post-content h3 { font-size: 22px; }

@media screen and (min-width: 800px) { .post-content h3 { font-size: 26px; } }

.post-content h4 { font-size: 18px; }

@media screen and (min-width: 800px) { .post-content h4 { font-size: 20px; } }