---
layout: default
---

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h4 class="header left dark-text">🌏 业务一览</h4>


    <br><br>

  </div>
</div>
<br><br>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s8 m3">
        <div class="icon-block center">
          <img class="center" src="res\pics\question.png"></img>
          <h5 class="center">网络使用答疑</h5>

          <p class="center medium">网络服务详细指导文档</p>
        </div>
      </div>

      <div class="col s8 m3">
        <div class="icon-block center" onclick="window.open('http://wlbx.xidian.edu.cn')">
          <img class="center" src="res\pics\fix.png"></img>
          <h5 class="center">网络故障报修</h5>

          <p class="center medium">南校区宿舍区网络故障处理</p>
        </div>
      </div>

      <div class="col s8 m3">
        <div class="icon-block center" onclick="window.open('http://zfw.xidian.edu.cn')">
          <img class="center" src="res\pics\zfw.png"></img>
          <h5 class="center">校园网自服务</h5>

          <p class="center medium">流量查询、设备管理</p>
        </div>
      </div>

      <div class="col s8 m3">
        <div class="icon-block center">
          <img class="center" src="res\pics\discuss.png"></img>
          <h5 class="center">答疑服务矩阵</h5>

          <p class="center medium">多个群聊即时答疑</p>
        </div>
      </div>
    </div>

  </div>
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s8 m3">
        <div class="icon-block center" onclick="window.open('http://stumail.xidian.edu.cn')">
          <img class="center" src="res\pics\email.png"></img>
          <h5 class="center">电子邮件服务</h5>

          <p class="center medium">学生edu邮箱</p>
        </div>
      </div>

      <div class="col s8 m3">
        <div class="icon-block center" onclick="window.open('http://ms.xidian.edu.cn')">
          <img class="center" src="res\pics\software.png"></img>
          <h5 class="center">正版软件平台</h5>

          <p class="center medium">Office/Win/Matlab</p>
        </div>
      </div>

      <div class="col s8 m3">
        <div class="icon-block center" onclick="window.open('http://ywtb.xidian.edu.cn')">
          <img class="center" src="res\pics\ywtb.png"></img>
          <h5 class="center">一网通办平台</h5>

          <p class="center medium">一站式完成行政流程</p>
        </div>
      </div>

      <div class="col s8 m3">
        <div class="icon-block center" onclick="window.open('http://vpn.xidian.edu.cn')">
          <img class="center" src="res\pics\vpn.png"></img>
          <h5 class="center">西电VPN</h5>

          <p class="center medium">远程访问校内资源</p>
        </div>
      </div>
    </div>

  </div>

</div>


<!-- <div style="background: rgb(255, 255, 255)">
  <div class="container last-post">
    <section>
      <h5>新闻与活动</h5>
      <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link"
              href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
            {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i
              class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</div> -->

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h4 class="header left dark-text">📢 新闻与活动</h4>
  </div>
</div>
<br><br><br>
<div class="home container">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
  <!-- <h2 class="header left dark-text">{{ page.list_title | default: "Posts" }}</h2> -->
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <p>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </p>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>


  {%- endif -%}

</div>




<div class="section">
  <div class="row">
    <div class="carousel carousel-slider center" data-indicators="true" data-namespace="DIVcarouselcarousel-slider1"
      style="height: 400px;">
      <!-- <div class="carousel-fixed-item center with-indicators">
          <a class="btn waves-effect white grey-text darken-text-2">button</a>
        </div> -->
      <div class="carousel-item blue white-text active center" href="#one!"
        style="z-index: 0; opacity: 1; display: block; transform: translateX(0px) translateX(0px) translateX(0px) translateZ(0px);">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
      </div>
      <div class="carousel-item blue white-text" href="#two!"
        style="transform: translateX(0px) translateX(953.906px) translateZ(0px); z-index: -1; opacity: 1; display: block;">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
      </div>
      <div class="carousel-item blue white-text" href="#three!"
        style="transform: translateX(0px) translateX(-1907.81px) translateZ(0px); z-index: -2; opacity: 1; display: block;">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
      </div>
      <div class="carousel-item blue white-text" href="#four!"
        style="transform: translateX(0px) translateX(-953.906px) translateZ(0px); z-index: -1; opacity: 1; display: block;">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
      </div>
      <!-- <ul class="indicators">
          <li class="indicator-item active"></li>
          <li class="indicator-item"></li>
          <li class="indicator-item"></li>
          <li class="indicator-item"></li>
        </ul> -->
    </div>
  </div>
</div>
