---
layout: default
---


<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h4 class="header left dark-text">📢 新闻与活动</h4>
    </div>
  </div>
  <br><br><br>
  <div class="home container">
  
    {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.categories['news'] -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          <div class="post-abstract">
            {{ post.content | strip_html | truncate: 340, '...'}}
            </div> <a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    {%- endif -%}
  </div>
  