---
layout: default
comments: true
---

<div class="container">
  <div class="section">
    <article class="post">

      <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
          {%- if page.author -%}
          • <span itemprop="author"><span class="p-author h-card"
              itemprop="name">{{ page.author | escape }}</span></span>
          {%- endif -%}</p>
      </header>

      <div class="post-content e-content" itemprop="articleBody" >
        <h4 style="line-height: 1.5;">{{ content }}</h4>
        
      </div>

      <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </article>
    <br>
    <br><p><font size='5'>💬</font>&emsp;匿名的评论：昵称、邮箱、网址均为选填</p><br>

    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <div id="comment"></div>
    <script>
      var valine = new Valine();
      valine.init({
          el:'#comment',
          appId:'0N64wilsdBeQzKriTKgTKrXF-gzGzoHsz',
          appKey:'hcTarGwMwrFESarkDCsYVcEg',
          notify:true,
          path: '{{ page.url }}',
          placeholder:'在这里写评论'
          
      })
  </script>

  </div>
</div>